h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
    border-bottom: white solid 2px;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #495369;
    color: white;
}

main {
    position: relative;
}

p {
    line-height: 2;
}

.hero-image {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("background.jpg");
    background-color: #495369;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAV BAR */

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    padding: 30px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin-top: 75px;
    margin-right: 5%;
}

nav li {
    cursor: pointer;
}

.nav-icon {
    z-index: 3;
    position: absolute;
    top: 30px;
    right: 5%;
    opacity: 0;
    transition: opacity 300ms;
}

.nav-icon:hover {
    cursor: pointer;
}

.nav-closed {
    color: #495369;
}

.active {
    opacity: 1;
    transition: opacity 300ms;
}

.nav-bar {
    z-index: 2;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    color: #495369;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    transition: all 300ms;
}

.nav-active {
    height: 210px;
    transition: all 300ms;
    
}

/* HEADER */

header {
    position: relative;
    text-align: center;
    margin: 3em auto;
}

.header-img {
    width: 75%;
    max-width: 800px;
}

/* MAIN */

.container {
    margin: 100px 15%;
}